
header.appbar {
    background: var(--color-primary);
    padding: 16px;
    height: 56px;
    display: flex;
    align-items: center;
}

header.appbar > * {
    color: var(--color-text-on-primary);
}

header.appbar > button:first-child {
    margin-right: 32px;
}

header.appbar > button .effects {
    background: var(--color-text-on-primary);
}

header.appbar > h1 {
    grid-column: 2;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
}

header.appbar > h1 ~ button {
    margin-left: 24px;
}

/* Prominent App Bar */

header.appbar.prominent {
    height: 128px;
}

header.appbar.prominent > h1 {
    align-self: flex-end;
    padding-bottom: 12px;
}

header.appbar.prominent > button {
    align-self: flex-start;
}


