
/* Outlined Button */
button {
    letter-spacing: 1.25px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    position: relative;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    min-width: 64px;
    user-select: none;
    font-size: 14px;
    vertical-align: middle;
    border-radius: 4px;
    height: 36px;
    background: transparent;
    padding: 0 16px;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

button[data-icon-pre] {
    padding-left: 12px;
}

button[data-icon-pre]::before {
    font-size: 18px;
}

button > .effects {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity linear 280ms;
    background-color: var(--color-primary);
}

button:hover > .effects {
    opacity: 0.05;
}

button:focus > .effects {
    opacity: 0.15;
}

button:active > .effects {
    opacity: 0.25;
}

/* Text Button */
button.text {
    border: none;
    padding: 0 8px;
}

button.text:hover {
    background: #fff2;
}

/* Contained Button */
button.contained {
    background: var(--color-primary);
    color: var(--color-text-on-primary);
    box-shadow: var(--shadow-2);
    border: none;
}

button.contained > .effects {
    background-color: #fff;
}

button.contained:hover {
    box-shadow: var(--shadow-4);
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Icon Button */
button[data-icon] {
    border: none;
    padding: 0;
    min-width: 24px;
    height: 24px;
    overflow: visible;
}

button[data-icon] > .effects {
    width: 42px;
    height: 42px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

button[data-icon=more_vert] {
    min-width: 8px;
}