@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v48/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

[data-icon-pre]::before,
[data-icon]::before,
[data-icon-pos]::after,
.icon {
    text-align: center;
    font-family: 'Material Icons';
    font-size: 24px;  /* Preferred icon size */
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

    display: inline-block;
    line-height: 1;
    cursor: inherit;
    font-style: normal;
    font-weight: normal;
    color: inherit;
}

[data-icon-pos]::after {
    content: attr(data-icon-pos);
}

[data-icon-pre]::before {
    content: attr(data-icon-pre);
    margin-right: 8px;
}

[data-icon]::before {
    content: attr(data-icon);
}

html, button, input, select, textarea, a, video {
    font-family: Roboto;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 4px; height: 4px;
}
::-webkit-scrollbar-thumb {
    background-color: #555;
}

body {
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    height: 100vh; min-height: 100vh; max-height: 100vh;
    width: 100vw; min-width: 100vw; max-width: 100vw;
    height: -webkit-fill-available;
    padding: 0;
    margin: 0;
    color: var(--color-text);
    font-size: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
    position: relative;
    padding-top: 0.1px; /* HACK */
}

[hidden] {
    display: none;
}

a, button, select {
    cursor: pointer;
}

:root {

    --shadow-1: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    --shadow-2: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, .12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    --shadow-3: 0 3px 4px 0 rgba(0,0,0,0.14), 0 3px 3px -2px rgba(0,0,0,0.12), 0 1px 8px 0 rgba(0,0,0,0.20);
    --shadow-4: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);

    /* Shadow 6dp */
    --shadow-5: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);

    /* Shadow 8dp */
    --shadow-6: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.20);

    /* Shadow 9dp */
    --shadow-7: 0 9px 12px 1px rgba(0,0,0,0.14), 0 3px 16px 2px rgba(0,0,0,0.12), 0 5px 6px -3px rgba(0,0,0,0.20);

    /* Shadow 12dp */
    --shadow-8: 0 12px 17px 2px rgba(0,0,0,0.14), 0 5px 22px 4px rgba(0,0,0,0.12), 0 7px 8px -4px rgba(0,0,0,0.20);

    /* Shadow 16dp */
    --shadow-9: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.20);

    /* Shadow 24dp */
    --shadow-10: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.20);
}
