
.material {
    background-color: var(--color-sheet);
    box-shadow: var(--shadow-1);
    padding: 16px;
    z-index: 1;
    box-sizing: border-box;
    position: relative;
}

.material[data-z=2] { box-shadow: var(--shadow-2); z-index: 2; }
.material[data-z=3] { box-shadow: var(--shadow-3); z-index: 3; }
.material[data-z=4] { box-shadow: var(--shadow-4); z-index: 4; }
.material[data-z=5] { box-shadow: var(--shadow-5); z-index: 5; }
.material[data-z=6] { box-shadow: var(--shadow-6); z-index: 6; }
.material[data-z=7] { box-shadow: var(--shadow-7); z-index: 7; }
.material[data-z=8] { box-shadow: var(--shadow-8); z-index: 8; }
.material[data-z=9] { box-shadow: var(--shadow-9); z-index: 9; }
.material[data-z=10] { box-shadow: var(--shadow-10); z-index: 10; }
